.vs/*
Lab_3_Inheritance.sln
Task_1/Properties/*
Task_1/obj/Debug/*
Task_1/App.config
Task_1/bin/*
Task_2/Properties/*
Task_2/obj/Debug/*
Task_2/App.config
Task_3/Properties/*
Task_3/obj/Debug/*
Task_3/App.config
Task_4/Properties/*
Task_4/obj/Debug/*
Task_4/App.config
Task_4/bin/*